# Ignore operating system files
.DS_Store
Thumbs.db

# Big files
*fa.g*

# Ignore log files
*.log
.nextflow.log.*
.nextflow

# Ignore temporary files
*.tmp

# Ignore intermediate files since large size
work
result
